.App {
  text-align: center;
  background-color: aliceblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  display: block;  
}

.react-tabs__tab-list {
  border: 1px solid black;
  background-color: #4c8fe2;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.react-tabs__tab {
  display: inline-block;
  list-style-type: disc;
  padding: 6px 20%;
  color: #ffffff;
}

.react-tabs__tab:hover {
  background-color: #6eafff;
  cursor: pointer;
}

.music-quiz-header h1 {
  background-color: rgb(49, 49, 159);
  padding: 1%;
  margin: 0px;
  color: #eeeeee;
}

/*PLAYER DETAILS FIELD
   TODO: 
     Fix the display. It's supposed to all be inline, but labels and inputs are stacked for some reason.
     Also fix the positioning when help icon is present, seems to be knocking things out of whack.
*/


.player-details-field {
  display: inline-block;
}

.player-details img {
  display: inline-block;
}

.player-details input {
  margin: 0px 5% 0px 5%;
  text-align: center;
  display: inline-block;
}

.player-details {
  padding: 1%;
}

.player-details label {
  display: inline-block;
  
}